body {
	background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.btn-primary {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff; 
    border-radius: 3px;
    padding-top: 6px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 6px;
    border-color: #2193b0;
    border: 3px solid;
    background-color: #2193b0;
}


.btn-primary:hover {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff; 
    border-radius: 3px;
    padding-top: 6px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 6px;
    border-color: #2193b0;
    border: 3px solid;
    background-color: #2193b0;
}
