{% extends "base_core.html" %}
{% load static %}


{% block title %}
<title>Home</title>
{% endblock title %}



{% block content %}

<div class="container mt-5 mb-5 ml-5">

	<h1>Products List</h1>

	</br>
	<!-- Left and right section -->
	<main role="main" class="container">         
          <div class="row">
            <div class="col-md-8">
            	<ul>
				{% for product in products %}
					<a href='{% url "core:product_detail" product.slug %}'><li>{{ product }}</li></a>
				{% endfor %}

				</ul>
            </div>
            <div class="col-md-4">
              <div class="content-section">
                <h5><b>Explore</b></h5>
                </br>
                <div class="media mb-4">
                  <img src="..." class="align-self-center mr-3" alt="...">
                  <div class="media-body">
                    <p class="mb-0">Display my group</p>
                  </div>
                </div>
                <div class="media mb-4">
                  <img src="..." class="align-self-center mr-3" alt="...">
                  <div class="media-body">
                    <p class="mb-0">Display my accomodation</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </main>



</div>

{% endblock content %}

















