{% extends "base_core.html" %}
{% load static %}


{% block title %}
<title>Home</title>
{% endblock title %}



{% block content %}

<div class="container mt-5 mb-5 ml-5">

	<h1>Product detail</h1>

	</br>
	<!-- Left and right section -->
	<main role="main" class="container">         
          <div class="row">
            <div class="col-md-8">
              <ul>
                <li>Name: <b>{{ product.name }}</b></li></br>
                <li>Price: <b>{{ product.price }}</b></li></br>
                <li>Quantity: <b>{{ product.quantity }}</b></li></br>
            </div>
            <div class="col-md-4">
              <div class="content-section">
                <h5><b>Explore</b></h5>
                </br>
                <div class="media mb-4">
                  <div class="media-body">
                    <a href='#'><p class="mb-0">Display my group</p></a>
                  </div>
                </div>
                <div class="media mb-4">
                  <div class="media-body">
                    <p class="mb-0">Display my accomodation</p>
                  </div>
                </div>
            </div>
          </div>
    </main>



</div>

{% endblock content %}

















